absl-py==2.1.0
boltons @ file:///croot/boltons_1677628692245/work
brotlipy==0.7.0
cachetools==5.3.2
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cffi @ file:///tmp/build/80754af9/cffi_1625814692085/work
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
conda @ file:///croot/conda_1689269889729/work
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262147379/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616767007030/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
deeph @ file:///home/vscode/miniconda/lib/python3.9/site-packages/DeepH-pack
dill==0.3.8
e3nn==0.3.5
future @ file:///home/conda/feedstock_root/build_artifacts/future_1673596611778/work
google-auth==2.27.0
google-auth-oauthlib==1.2.0
googledrivedownloader @ file:///home/conda/feedstock_root/build_artifacts/googledrivedownloader_1619807768586/work
grpcio==1.60.1
h5py==3.10.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata==7.0.1
isodate==0.6.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1655912915439/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379916629/work
latexcodec @ file:///home/conda/feedstock_root/build_artifacts/latexcodec_1592937263153/work
Markdown==3.5.2
MarkupSafe==2.0.1
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1628881762877/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
monty @ file:///home/conda/feedstock_root/build_artifacts/monty_1706938862687/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multiprocess==0.70.16
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1680692919326/work
numpy==1.26.4
oauthlib==3.2.2
opt-einsum==3.3.0
opt-einsum-fx==0.1.4
packaging @ file:///croot/packaging_1693575174725/work
palettable @ file:///home/conda/feedstock_root/build_artifacts/palettable_1682018334297/work
pandas==1.3.5
pathos==0.3.2
Pillow==9.0.1
platformdirs @ file:///croot/platformdirs_1692205439124/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1698272730927/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
pooch @ file:///croot/pooch_1695850093751/work
pox==0.3.4
ppft==1.7.6.8
protobuf==4.25.2
psutil==5.9.8
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybtex @ file:///home/conda/feedstock_root/build_artifacts/pybtex_1638467081712/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pymatgen @ file:///home/conda/feedstock_root/build_artifacts/pymatgen_1707397539010/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-louvain @ file:///home/conda/feedstock_root/build_artifacts/python-louvain_1674586957342/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373447169/work
rdflib==7.0.0
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
scikit-learn @ file:///croot/scikit-learn_1694788527225/work
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
spglib @ file:///home/conda/feedstock_root/build_artifacts/spglib_1707625418941/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180539862/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tensorboard==2.15.2
tensorboard-data-server==0.7.2
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
toolz @ file:///croot/toolz_1667464077321/work
torch==1.9.1
torch-cluster @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-cluster_1631029664917/work
torch-geometric @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-geometric_1624734489364/work
torch-scatter @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-scatter_1634901275981/work
torch-sparse @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-sparse_1631190788083/work
torch-spline-conv @ file:///usr/share/miniconda/envs/test/conda-bld/pytorch-spline-conv_1631008488477/work
torchaudio==0.9.0a0+a85b239
torchvision==0.10.1
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1695373443748/work
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
typing-extensions @ file:///croot/typing_extensions_1705599297034/work
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1655664167081/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
werkzeug==3.0.1
zipp==3.17.0
